<div  class="navbar-fixed">
{{#md-navbar name=''}}

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>{{#link-to "admin"}}Blog settings{{/link-to}}</li>
    <li><a href="#" {{action "invalidateSession"}}>Logout</a></li>
  </ul>
{{/md-navbar}}
</div>
