<div  class="navbar-fixed">
{{#md-navbar name=''}}

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>{{#link-to "admin"}}Blog settings{{/link-to}}</li>
    <li>{{#link-to "user-edit"}}Users{{/link-to}}</li>
    <li>{{#link-to "category-edit"}}Categories{{/link-to}}</li>
    <li>{{#link-to "keyword-edit"}}Keywords{{/link-to}}</li>
    <li><a href="#" {{action "invalidateSession"}}>Logout</a></li>
  </ul>
{{/md-navbar}}
</div>
