<div class="row left-align">
  <div class="col s12 m12 l12">
    <div class="card">
            <div class="card-content">
              <span class="card-title"><h4>{{#link-to "post" post.id}}{{post.title}}{{/link-to}}</h4></span>
              <small>by {{post.user}}</small>
              <p>{{post.content}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
    </div>
  </div>
</div>
