<div  class="navbar-fixed">
{{#md-navbar name=''}}

  {{#each sortedCategories as |cat|}}
    {{#unless cat.sideCategory}}
    {{#link-to 'page' tagName='li'}}
      {{#link-to "page" cat.name}}{{cat.name}}{{/link-to}}
    {{/link-to}}

    {{/unless}}
  {{/each}}


{{/md-navbar}}
</div>
