<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/components/head :: head"></head>
<body>
<header th:replace="admin/components/navbar :: navbar"></header>



<main>
<div class="container center">
<!-- CONTENT -->   
    
    
    

<!-- CONTENT -->
</div>
</main>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"  th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script src="../static/js/materialize.min.js" th:src="@{/js/materialize.min.js}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
      $('.parallax').parallax();
      
      $(".button-collapse").sideNav();
    });
       
  </script>
  </body>
</html>