<header th:fragment="navbar">
<div  class="navbar-fixed">
<nav>
    <div class="nav-wrapper container">
      <a href="#!" th:href="@{/}" class="brand-logo">Logo</a>
      <!-- NAV DESKTOP -->
      <ul class="right hide-on-med-and-down">
         <li th:each="category : ${categories}">
         	<a href="#" th:unless="${category.children}" th:href="@{/category/{pathVariable}(pathVariable=${category.link})}" th:text="${category.name}"></a>
         	<a href="#" th:if="${category.children}" th:href="@{/category/{pathVariable}(pathVariable=${category.link})}" th:text="${category.name}"
         	class="dropdown-button" data-activates="dropdown" th:attrappend="data-activates=${'_'+category.id}"  data-beloworigin="true"></a>
         	
         	<ul th:if="${category.children}" id='dropdown' th:attrappend="id=${'_'+category.id}" class='dropdown-content'>
    			<li th:each="child : ${category.children}">
    				<a href="#" th:href="@{/category/{pathVariable}(pathVariable=${child.link})}" th:text="${child.name}"></a>
    			</li>
 			</ul>
         </li>
      </ul>
      <!-- NAV DESKTOP -->
      <!-- NAV MOBILE -->
      <ul class="side-nav" id="mobile-demo">
         <li th:each="category : ${categories}">
         	<a href="#" th:unless="${category.children}" th:href="@{/category/{pathVariable}(pathVariable=${category.link})}" th:text="${category.name}"></a>
        <ul th:if="${category.children}" class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"> 
            <span th:text="${category.name}"></span> 
            <i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
              <li>
                 <a href="#" th:href="@{/category/{pathVariable}(pathVariable=${category.link})}" th:text="${category.name}"></a>
              </li>
                <li th:each="child : ${category.children}">
                  <a href="#" th:href="@{/category/{pathVariable}(pathVariable=${child.link})}" th:text="${child.name}"></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
		</li>
      </ul>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- NAV MOBILE -->
    </div>
</nav>
</div>
</header>